<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>Affdex</title>
  <script type="text/javascript" src="https://download.affectiva.com/js/3.1/affdex.js"></script>
  <link rel="stylesheet" href="css/style.css" loadCSS>
</head>
<body class="homepage">
  <div class="container">
    <div class="affdex"></div>
    <div class="results"></div>
    <div class="logs"></div>
    <div class="controls">
      <button class="controls__stop">Stop</button>
      <button class="controls__reset">Reset</button>
    </div>
  </div>
  <script src="js/index.js" type='text/javascript'></script>
</body>
</html>
